.css{
  color: rgb(156, 180, 201);
  width: 50px;
  height: 25px;
  border-radius: 5px;
margin-left: 20px;

}
.css:hover
{
  transform: scale(0.9);
  text-decoration-line: line-through;
  transition: 25ms;
}
.a{
  background-color: black;
}