.css{
  color: rgb(156, 180, 201);
  width: 75px;
  height: 35px;
  border-radius: 5px;
margin-left: 20px;

}
.css:hover
{
  transform: scale(0.9);
}
.a{
  background-color: black;
}
.co{
  display: flex;
  background-color: antiquewhite;
  position: fixed;
 width: 100%;
 padding: 10px;
}